* {
    background-color: black;
   }
   
   div #root {
     color: white;
     opacity: 1;
   }
   
   p {
     color: white;
     font-size: 5rem;
   }
   
   b {
     color: skyblue;
     font-size: 7rem;
   }
   
   ul {
     color: skyblue;
     font-size: 15rem;
   }
   
   em {
     color: skyblue;
     font-size: 7rem;
   }
   
   h2 {
     color: white;
     opacity: .6;
     font-size: 30rem;
   }
   
   h3 {
     color: skyblue;
     font-size: 20rem;
   }
   
   button {
     background-color: white;
     color: black;
     filter: drop-shadow(.35rem .35rem .4rem);
   }